/* селектор {
    свойство:значение;
} */

/* Виды селекторов
селектор тега
селектор класса
селектор ID (уникальный идентификатор)
селектор атрибута
селектор вложенности
универсальный селектор */

h1 {
    color: crimson; /* селектор тега */
}

.main_txt {
    font-size: 32px; /* селектор класса */
}

#paragraf {
    text-decoration: line-through; /* селектор ID (уникальный идентификатор) */
}

[href="#"] {
    text-decoration: none; /* селектор атрибута */
}

div h1, p {
    text-decoration: line-through; /* селектор вложенности */
}

* {
    background-color: rgb(126, 240, 255);
}